.site-footer {
    position: relative;
    @include font-size(8, mobile, true, true, true);
    @if ( get-font-size(8, desktop) != get-font-size(8, mobile) ) {
        @include media( '>medium' ) {
            @include font-size(8, desktop, true, true, true);
        }
    }

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 259px;
        background-color: #002a38;
        background-size: 1680px 259px;
        background-repeat: no-repeat;

        .links {
            display: flex;
            line-height: 1.3;
            font-family: Menlo, monospace;
        }
    }

    a {
        @include anchor-aspect(footer);
    }
}

.site-footer-inner {
    position: relative; /* To display all elements above the background color */
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: center;
    align-items: center;

    ul {
        display: inline-grid;
        grid-auto-flow: row;
        grid-gap: 24px;
        justify-items: center;
        margin: auto;
    }
      
    @media (min-width: 500px) {
    ul {
        grid-auto-flow: column;
    }
    }

    li {
        list-style-type: none;
        p {
            margin-top: -2.5px;
        }
    }
    
    a {
        color: white;
        text-decoration: none;
        box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
    }
    
    a:hover {
        box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
    }
    
    li:last-child {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    
    li:hover ~ li p {
        animation: wave-animation 0.3s infinite;
    }
    
    @keyframes wave-animation {
    0%,
    100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(20deg);
    }
    75% {
        transform: rotate(-15deg);
    }
    }
}

.footer-brand,
.footer-links,
.footer-social-links,
.footer-copyright {
    flex: none;
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.footer-brand,
.footer-links,
.footer-social-links {
    margin-bottom: 24px;
}

@include media( '>medium' ) {

    .site-footer {

        &::before {
            height: 202px;
        }
    }

    .footer-links,
    .footer-social-links {
        justify-content: flex-end;
    }

    .footer-links {
        order: 1;
        margin-bottom: 0;
    }
}
